<div class="container">
    <div class="row mt-3">
        <h2>Form Edit Data Kontak</h2>
        <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error => { %>
                <li>- <%= error.msg %></li>&nbsp;&nbsp;&nbsp;
                <% }) %>
            </ul>
        </div>

        <% } %>
        <div class="col-sm-6">
            <form action="/contact/<%= contact._id %>?_method=PUT"  method="post">
                <input type="hidden" value="<%= (contact.oldNama) ? contact.oldNama : contact.nama %>" name="oldNama">
                <div class="mb-3">
                    <label for="nama" class="form-label">Name</label>
                    <input type="text" name="nama" id="nama" class="form-control" placeholder="Masukan Nama"
                        value="<%= contact.nama %>" required>
                </div>
                <div class="mb-3">
                    <label for="noHP" class="form-label">Nomor HP</label>
                    <input type="text" name="noHP" id="noHP" class="form-control" placeholder="Masukan No HP"
                        value="<%= contact.noHP %>" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Masukan Email"
                        value="<%= contact.email %>" required>
                </div>
                <button type="submit" class="btn btn-primary">Ubah Data</button>
            </form>
        </div>
    </div>
</div>